:root {
  --primaryColor: rgb(21, 21, 21);
  --secondaryColor: #d3a254;
  --sekunderColor: #bfa580;
  --brownOne: #c4967b;
  --brownOneFade: #c4967b72;
  --brownTwo: #49403b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", sans-serif;
  /* margin-top: 3rem; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  position: fixed;
  width: 98.9vw;
  transform: translate(-10px, -2vh);
  background: rgba(80, 74, 74, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(80, 74, 74, 0.13);
  /* border: 1px solid #fff; */
}

header nav .logo h1 {
  font-size: 30px;
  color: var(--secondaryColor);
}

header nav span.ham-menu {
  display: none;
}

header nav ul#navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style-type: none;
  /* border: 1px solid #fff; */
}

header nav ul#navbar-nav a {
  text-decoration: none;
}

header nav ul#navbar-nav a li {
  color: #808080;
  transition: all ease-in-out 0.2s;
}

header nav ul#navbar-nav a li:hover {
  color: var(--sekunderColor);
  transform: scale(120%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  /* border: 1px solid #fff; */
  /* padding: 10px; */
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  /* border: 1px solid #fff; */
}

.container-main section.main-section,
.container-main section.service-section,
.container-main section.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 98vh;
  width: 100%;
  padding: 10px;
  /* gap: 1.4rem; */
  /* border: 1px solid #ff0000; */
}

.container-main section.main-section .side-left-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  padding: 10px;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
  /* border-right: 1px solid #fff; */
}

.container-main section.main-section .side-left-main h2.main-title {
  color: #fefefe;
  font-size: 45px;
  text-align: left;
}

.container-main section.main-section .side-left-main h2.main-title span {
  color: var(--secondaryColor);
}

.container-main section.main-section .side-left-main p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-align: left;
}

.container-main section.main-section .side-left-main .button-main-container {
  width: 30em;
  padding: 10px 3rem;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #fff; */
}

.container-main
  section.main-section
  .side-left-main
  .button-main-container
  button {
  width: 130px;
  height: 30px;
  font-family: "Oswald", sans-serif;
}

.container-main
  section.main-section
  .side-left-main
  .button-main-container
  button.booking-button {
  background-color: var(--primaryColor);
  border: 1.7px solid var(--sekunderColor);
  color: var(--sekunderColor);
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}

.container-main
  section.main-section
  .side-left-main
  .button-main-container
  button.booking-button:hover {
  background-color: var(--sekunderColor);
  color: #f1f1f1;
  cursor: pointer;
}

.container-main
  section.main-section
  .side-left-main
  .button-main-container
  button.contact-button {
  background-color: var(--sekunderColor);
  border: 1.7px solid var(--sekunderColor);
  color: #fefefe;
  transition: all ease-in-out 0.2s;
}

.container-main
  section.main-section
  .side-left-main
  .button-main-container
  button.contact-button:hover {
  background-color: var(--primaryColor);
  border: 2px solid var(--sekunderColor);
  color: var(--sekunderColor);
}

main .container-main section.main-section .side-left-main .service-vip {
  display: none;
}

.container-main section.main-section .side-right-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  height: 85%;
  width: 100%;
  margin-top: 2rem;
  /* border-left: 1px solid #fff; */
}

.container-main section.main-section .side-right-main .barber-info-main {
  width: 15.5%;
  height: 35%;
  position: absolute;
  left: 53vw;
  top: 48vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--brownOneFade);
  border: 1px solid var(--brownOne);
}

.container-main
  section.main-section
  .side-right-main
  .barber-info-main
  .info
  img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.container-main section.main-section .side-right-main .barber-info-main p {
  font-size: 12px;
  width: 170px;
  text-align: justify;
  /* border: 1px solid #fff; */
}

.container-main
  section.main-section
  .side-right-main
  .barber-info-main
  .service-vip
  p {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid; */
}

.container-main
  section.main-section
  .side-right-main
  .barber-info-main
  .service-vip
  p
  a {
  color: var(--secondaryColor);
}

.container-main section.service-section .container-service {
  padding: 10px;
  /* border: 1px solid #fff; */
}

.container-main section.service-section .container-service h2 {
  text-align: center;
  font-size: 26px;
  color: var(--secondaryColor);
}

/* .container-main section.service-section .container-service .list-service,
.container-main section.contact-section .container-contact {
  border: 1px solid #fff;
} */

.container-main section.service-section .container-service .list-service ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul.service-list-barber
  li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 80vh;
  border-radius: 5px;
  background-color: #f4f1f12b;
  border: 2px solid var(--brownOneFade);
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul.service-list-barber
  li
  h4 {
  color: var(--secondaryColor);
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul
  li
  img {
  width: 180px;
  height: 220px;
  object-fit: contain;
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul
  li
  p {
  width: 240px;
  text-align: justify;
  /* border: 1px solid #fff; */
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul.service-list-barber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
}

.container-main
  section.service-section
  .container-service
  .list-service
  ul.service-list-barber
  li {
  width: 60%;
  height: 100%;
  /* border: 1px solid #fff; */
}

.container-main section.service-section .container-service p.p-service-list {
  font-size: 18px;
  font-weight: 400;
  color: #f1f1f1;
}

.container-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #1f1f1f;
  /* border: 1px solid; */
}

.container-contact .service-info-text {
  width: 33.3%;
  /* border: 1px solid #fff; */
}

.container-contact .service-info-text h2 {
  color: var(--secondaryColor);
}

.container-contact .service-info-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  padding: 10px;
  /* border: 1px solid #fff; */
}

.container-contact .service-info-map iframe {
  width: 40vh;
  height: 50vh;
  border: none;
  outline: none;
  border-radius: 10px;
}

.container-contact .service-info-contact {
  width: 33.3%;
  /* border: 1px solid #fff; */
}

.container-contact .service-info-contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #d3a254;
}

.container-contact .service-info-contact ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  color: var(--brownOne);
  padding: 2px;
  width: 40vh;
  /* border: 1px solid #f1f1f1; */
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 1rem;
  border-top: 2px solid var(--secondaryColor);
  border-bottom: 2px solid var(--secondaryColor);
  /* border: 1px solid #fff; */
}

footer .logo h1 {
  color: var(--secondaryColor);
}

footer .container-social-med ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
  width: 100%;
  gap: 20px;
}

footer .container-social-med ul a {
  text-decoration: none;
}

footer .container-social-med ul a li {
  list-style-type: none;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer .container-social-med-mobile {
  display: none;
}

/* phone view */
@media screen and (max-width: 500px) {
  html {
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* border: 1px solid #fff; */
  }

  header nav {
    display: flex;
    position: fixed;
    gap: 10rem;
    transform: translate(-48vw, 10%);
    /* border: 1px solid #fff; */
  }

  header nav ul#navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 10px;
    height: 15vh;
    transform: translate(220%, 75%);
    background-color: var(--brownOneFade);
    border: 1px solid #fff;
    transition: all ease-in-out 0.2s;
  }

  header nav ul#navbar-nav li {
    font-size: 18px;
    width: 100px;
    text-align: center;
    border: 1px solid #fff;
  }

  header nav span.ham-menu {
    display: block;
    color: #fff;
  }

  main {
    width: 97vw;
    /* border: 1px solid #ff0000; */
  }

  main .container-main {
    flex-direction: column;
    padding: 50px;
    width: 95vw;
    gap: 10rem;
    /* border: 1px solid #ff0000; */
  }

  main .container-main section.main-section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 100%;
    width: 90vw;
    /* border: 1px solid #fff; */
  }

  main .container-main section.main-section .side-left-main {
    /* border: 1px solid #fff; */
    border-right: none;
    height: 50%;
  }

  main
    .container-main
    section.main-section
    .side-left-main
    .button-main-container {
    width: 86vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid #0000ff; */
  }

  main .container-main section.main-section .side-left-main .service-vip {
    display: block;
    /* border: 1px solid #fff; */
  }

  .container-main section.main-section .side-left-main .service-vip p a {
    text-decoration: none;
    color: var(--secondaryColor);
  }

  main .container-main section.main-section .side-left-main .service-vip p a {
    text-decoration: none;
  }

  main .container-main section.main-section .side-right-main {
    display: none;
  }

  .container-main section.service-section .container-service {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid #fff; */
  }

  .container-main
    section.service-section
    .container-service
    .list-service
    ul.service-list-barber {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fff; */
  }

  .container-main
    section.service-section
    .container-service
    .list-service
    ul.service-list-barber
    li {
    width: 120%;
  }

  .container-main
    section.service-section
    .container-service
    .list-service
    ul.service-list-barber
    li
    p {
    font-size: 10px;
    width: 100%;
  }

  .container-main section.service-section .container-service p {
    font-size: 12px;
    text-align: center;
  }

  .container-main section.contact-section {
    width: 120%;
    /* border: 1px solid #fff; */
  }

  .container-main section.contact-section .container-contact {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 0.5px solid #fff;
  }

  .container-main
    section.contact-section
    .container-contact
    .service-info-text {
    width: 100%;
    padding: 10px;
    gap: 10px;
    text-align: center;
    /* border: 1px solid #fff; */
  }

  .container-main
    section.contact-section
    .container-contact
    .service-info-contact
    ul {
    text-align: center;
  }

  .container-main section.contact-section .container-contact .service-info-map {
    height: 50vh;
    width: 20vh;
  }

  .container-contact .service-info-map iframe {
    width: 35vh;
    height: 30vh;
    border: none;
    outline: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    border-top: 2px solid var(--secondaryColor);
    border-bottom: 2px solid var(--secondaryColor);
  }

  footer .container-social-med {
    display: none;
  }

  footer .container-social-med-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  footer .container-social-med-mobile a {
    color: var(--brownOne);
    cursor: pointer;
  }
}

/* phone view */
